:root {
    --background: #eef1f6;
    --color-white: #fefefe;
    --color-wheat: #f5deb3;
    --color-button: #6f5a35;
    --color-gray: #606060;
    --color-danger: #CC0000;
    --background-menu: #34424e;

    --font-normal: 400;
    --font-bold: 600;
}

